.color-bends-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.color-bends-container canvas {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    opacity: 1;
    visibility: visible;
}