.text-rotate {
    display: inline-flex;
    overflow: hidden;
    position: relative;
}

.text-rotate-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.text-rotate-word {
    display: inline-flex;
    white-space: pre;
}

.text-rotate-element {
    display: inline-block;
}

.text-rotate-space {
    display: inline-block;
    width: 0.3em;
}

.text-rotate-lines {
    display: flex;
    flex-direction: column;
}